<link rel="stylesheet" href="/styles/header.css" type="text/css" />
<header class="shadow-lg">
  <a href="/"> <span>FOOD ORDERING</span></a>
  <% if(!user) {%>
  <span class="get-started-link"><a href="/users/login">Get Started</a></span>
  <% } else {%>
    <span class="get-started-link"><a href="/users/login">Get Started</a></span>
  <% }%>
</header>
