<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/userLogin.js"></script>
  </head>

  <body>
    <%- include('./partials/_header') %>
    <h2>Please log in or sign up!</h2>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#customer-login" role="tab" aria-controls="nav-home" aria-selected="true">Customer</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#restaurant-login" role="tab" aria-controls="nav-profile" aria-selected="false">Restaurant</a>
      </div>
    </nav>
    <div class="tab-content" id="login-tabContent">
      <div class="tab-pane fade show active" id="customer-login" role="tabpanel" aria-labelledby="pills-home-tab">
        <h3>Customer Login</h3>
        <form class="customer-login" action="/customers/login" method="POST">
          <div class="form-group mb-2">
            <label for="email">Enter E-mail:</label>
            <input class="form-control email" type="email" name="email">
            <label for="password">Enter password:</label>
            <input class="form-control password" type="password" name="password">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
        <span class="missing-fields-error-message">Please fill out both the email and password</span>
        <p>Don't have an account yet? <a href="/users/signup">Sign up</a></p>
      </div>
      <div class="tab-pane fade" id="restaurant-login" role="tabpanel" aria-labelledby="pills-home-tab">
        <h3>Restaurant Login</h3>
        <form class="restaurant-login" action="/restaurants/login" method="POST">
          <div class="form-group mb-2">
            <label for="email">Enter E-mail:</label>
            <input class="form-control" type="email" name="email">
            <label for="password">Enter password:</label>
            <input class="form-control" type="password" name="password">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </body>
</html>
