// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  input.form-control {
    width: 300px;
    margin: 1em;
  }

  #registration-form {
    .password-match-error-message {
      color: #D8000C;
      background-color: #FFD2D2;
      visibility: hidden;
    }


  }

  .missing-fields-error-message {
    color: #D8000C;
    background-color: #FFD2D2;
    visibility: hidden;
  }
 }
