// See: https://sass-lang.com/
html {
	scroll-behavior: smooth;
}
body {
  background-color: white;
}
main{
  font-family: 'Ibarra Real Nova', serif;
}
.quantity {
  // background-color:#E5DCC5!important;
background-color: white;
}
// food items
ul {
  list-style-type: none;
  font-size: 1rem;
}

// .container1 {

// }
.main-section {
  padding:50px;
  display: flex;
  justify-content: space-evenly;
  border-right: 2px solid black;
}
.menu-section {
  // background-color:#E5DCC5;
  // background: url(styles/red-image.jpg);
  // background-size: cover;
  margin: 10px;
  background-color: white;
  padding: 10px;
  width:370px;
  border-radius: 5px;
  .category {
    font-size: 1.15rem;
    font-weight: bold;
    text-align: center;
  }
  .item-description{
    font-size: .85em;
  }
}

.red-section {
  width: 100vw;
  height: 100vh;
  background: url(/images/red-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  .caption1 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
  }
  .caption2 {
    font-family: 'Archivo Black', sans-serif;
    font-size:60px;
  }
  .menu-text {
    margin-top: 20px;
    font-size: 20px;
  }
  .arrow-down {
    color:white;
    font-size: 60px;
    padding:0px;
  }

}

.invisible {
  opacity:0;

}

.show1, .show2, .show3, .show4 {
  transition: all 1s;
}



.cart {
  width:100%;
}

.open-cart {
  left: 88vw!important;
  margin: 35px;
  height:45px;
  width:75px;
  transition:0.5s;
  visibility: hidden;

  .cart-icon {
    font-size: 32px;
  }

}
.cart {
  .item-in-cart {
    padding:0px 30px;
    display: flex;
    justify-content: space-between;
  }
  .total-in-cart {
    padding-top: 10px; width: 100%;
    border-top: 1px solid; text-align:center;
  }
}

.open-cart.cart-slideup {
 animation-name: slideUp, shake;
 animation-duration:0.5s;
 visibility: visible;
 }


 .open-cart.cart-slidedown {
  animation-name: slideDown;
  animation-duration:0.5s;
  visibility: hidden;
  }

@keyframes slideUp{
  from {
    bottom: -100px;
  }
  to {
    bottom: 0px;}
}

@keyframes slideDown{
  from {
    bottom: 0px;
  }
  to {
    bottom: -100px;}
}

// img:hover {
//   /* Start the shake animation and make the animation last for 0.5 seconds */
//   animation: shake 0.5s;

//   /* When the animation is finished, start again */
//   animation-iteration-count: 1;
// }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.cart-section {
  color:white;
  background-color:#841f1f!important;
  margin-bottom:0px!important;
  left: 71vw!important;
  min-width: 250px;
  max-width: 300px;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Ibarra Real Nova', serif;


  .cart-title {
    border-bottom: 1px solid;
    font-weight: bold;
    text-align: center;
    width:100%;
  }
}

.buttons {
  color: ivory;
}
.checkout {
  width:150px;
  text-align: center;
}

// number
.numberCircle {
  margin-left: 20px;
  border-radius: 50%;
  width: 40px;
  height: 22px;
  padding: 0px;
  border: 0.5px solid #352e2e;
  background-color: #352e2e;
  color: white;
  text-align: center;
  font-size: 15.5px;
  display: inline-block;
}


// Qauntity Button
.each-item {
display:flex;
}

.item-description {
width: 210px;
margin-right: 2px;
}

.quantity {
width: 25px;
height: 25px;
}

.number-input {
width: 25px;
height: 25px;
}

.number-input input[type="number"] {
-webkit-appearance: textfield;
-moz-appearance: textfield;
appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.number-input {
margin: 0px 10px;
margin-bottom: 20px;
}

.number-input button {
-webkit-appearance: none;
background-color: transparent;
border: none;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 0;
position: relative;
}

.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 2px;
transform: translate(-50%, -50%);
}

.number-input button.plus:after {
transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
text-align: center;
}

// .number-input.number-input {
//   // border: 1px solid #ced4da;
//   // width: 4.5rem;
//   // border-radius: .25rem;
// }

.number-input.number-input button {
width: 0.5rem;
height: 1rem;
}

.number-input.number-input button.minus {
padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
width: .4rem;
background-color: #495057;
}

.def-number-input {
width: 100px;
}

.number-input.number-input input[type=number] {
max-width: 4rem;
padding: .3rem;
border: 1px solid #ced4da;
border-width: 0 1px;
font-size: 0.8rem;
height: .8rem;
color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
@supports (-webkit-appearance: none) and (stroke-color:transparent) {

  .number-input.def-number-input.safari_only button:before,
  .number-input.def-number-input.safari_only button:after {
    margin-top: -.3rem;
  }
}
}
