body {
  background-color: !important;

  #orders-container {

    padding: 20px;
    margin: 20px;
    font-family: 'Archivo Black', sans-serif;
    top: 30px;
    position: relative;

    .card {
      border: 2px solid ;
      border-radius: 20px;
      margin: 5px;

      .card-header {
        .btn {
          p {
            font-size: 20px;
            font-weight: bold;
          }
          span {
            font-weight: bold;
            font-style: italic;
            display: block;
            text-align: left;
          }
        }
      }
    }

    form {
      label {
        margin: 5px;
      }
      select {
        margin: 5px;
      }
      button {
        margin: 5px;
      }
    }

    .collapse {
      padding: 10px;
      // display: flex;
      // justify-content: space-between;
    }

    .order-body {
      display: flex;
      justify-content: space-between;
    }

    ul {
      list-style: none;
    }

    #incoming-orders-accordion {
      margin: 10px;
      .wait-time-form {
        display: flex;
        justify-content: space-between;
      }
    }

    #accepted-orders-accordion {
      margin: 10px;
    }
  }

  nav.orders-nav {
    position: fixed;
    z-index: 1;
  }

  button.complete {
    width: 110px;
    height: 38px;
  }

}

html {
  scroll-behavior: smooth;
}
